html {
    box-sizing: border-box;
    background-color: var(--gray-dark);
    color: var(--gray-light);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Fira Mono', monospace;
    line-height: 1.75;

    /* 16px up to 1066, then grow */
    @media (min-width: 1066px) { 
        font-size: 1.5vw;
    }
}
