html {
    box-sizing: border-box;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Fira Mono', monospace;
    line-height: 2;

    /* 16px up to 1066, then grow */
    @media (min-width: 1066px) {
        font-size: 1.5vw;
    }

}
