.title {
    font-weight: 700;

    &.-error {
        display: inline-block;
        margin-bottom: 2rem;
        padding: 0 .5rem;
        background-color: var(--gray-light);
        color: var(--blue);
    }
}
