html {
    box-sizing: border-box;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Fira Mono', monospace;
    line-height: 2;

    @media (min-width: 1134px) {
        font-size: 17px;
    }

    @media (min-width: 1200px) {
        font-size: 18px;
    }

    @media (min-width: 1333px) {
        font-size: 20px;
    }

    @media (min-width: 1466px) {
        font-size: 22px;
    }

    @media (min-width: 1600px) {
        font-size: 24px;
    }

    @media (min-width: 1733px) {
        font-size: 26px;
    }

    @media (min-width: 1866px) {
        font-size: 28px;
    }

    @media (min-width: 2000px) {
        font-size: 30px;
    }

    @media (min-width: 2133px) {
        font-size: 32px;
    }

    @media (min-width: 2400px) {
        font-size: 36px;
    }
}
