input {
    padding: 0;
    width: 100%;
    height: auto;
    border: none;
    background-color: transparent;
    color: var(--green);
    transition: color .1s .5s ease;

    &:focus {
        outline: none;
        color: inherit;
        transition: none;
    }
}

::placeholder {
    color: color-mix(in srgb, var(--gray-light) 50%, transparent);
}
